
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::Layout(~{::section})}">

<head>
<meta charset="UTF-8">
    <title>about</title>
</head>
<body>

    <section>
        
        <div class="container">
            <div class="card">
                <div class="div card-body">

                    <div class="container text-center">

                    <img th:src="@{'/img/default.png'}"
                    style="width: 200px; height: 200px; border-radius: 50% ; object-fit: cover; border: 1px solid rgb(31, 32, 32);"
                    alt="contact image" />

                </div>
                <h1 class="text-center text-secondary font-italic">
                    Start Adding your contact...
                  </h1>

                <a href="" th:href="@{/user/add_contact}" class="btn btn-primary w-100 btn-sm text-uppercase">Add Contact</a>  
                </div>
            </div>
        </div>
        
    </section>

</body>

</html>